.hoverableLink {
    &:after {
        transition: all .15s ease-in-out;
        position: relative;
        content: "";
        height: 3px;
        width: 0;
        display: block;
        opacity: 0;
        @apply rounded-lg;
    }

    &:hover {
        &:after {
            background: theme('colors.gray.mediumLight');
            width: 100%;
            opacity: 1;
        }
    }
}
