
.isSticky {
    @apply shadow-md h-20 #{!important};
    position: fixed #{!important};

    .logo {
        @apply text-3xl;
    }
  
    .menuIcon {
        transform: scale(.65);
    }

    @screen lg {    
        .siteNavLink {
            @apply text-xl;
        }

        .siteNavListItem {
            @apply px-4;

            .button {
                @apply py-2;
            }
        }
    }
}

.siteNavListItem {
    &:hover {
        .siteSubNav {
            display: block;
        }
    }
}

.siteSubNav {
    width: calc(100% + 1rem);
}

@media screen and (max-width: 1024px) {
    .siteSubNav {
        padding-top: 1rem !important;
    }
}
