.menuIcon {
  width: 3rem;
  height: 3rem;
}

.menuIcon {
  li {
    @apply bg-gray-700 h-2;
    display: block;
    width: 100%;
  }

  &.is-open {
    li {
      &:nth-child(1) {
        transform: translate3d(0, 1rem, 0) rotate(-45deg);
      }

      &:nth-child(2) {
        @apply opacity-0;
      }

      &:nth-child(3) {
        transform: translate3d(0, -1.5rem, 0) rotate(45deg);
      }
    }
  }
}
